## Data Types
* Integers type(42) int 
* Floating Point type(3.14) float
* Boolean type(True),type(False) bool
* String(ordered, **immutable** char sequence) type("OyCaramba") str
* List type([1,2,63,"aha","youcanmixtypeinsidelist", ["even","nest"]]) list
* Dictionary(key:value pairs) type({"foo":"bar", "favoriteday":"Friday"}) dict
* Tuple - ordered immutable sequence type("sup",7,"dwarves") tup
* Set (unordered collection of uniques) ("k","a","r","t","u","p","e","l","i","s")

In [1]:
# floats can be rounded
weird_num = 0.1+0.2
rounded_num = round(weird_num, 2)  # 2 here means 2 digits after comma
print(weird_num)
print(rounded_num)

0.30000000000000004
0.3

In [2]:
2**3 # this is 2 to the power of 3 , so 2 cubed

8

In [3]:
81**0.5 # square root

9.0

In [4]:
5**(-1) # one fifth

0.2

In [7]:
a=5
b=6
c=7
c=b+a # = is assignment not equality!! equality is ==
print(a,b,c)

5 6 11

In [8]:
# adding something to itself is so common
# that there is a shorter way of writing it
a += 6 # this means a = a + 6
print(a)

11

### id(object)

Return the “identity” of an object. 

This is an integer which is guaranteed to be unique and constant for this object during its lifetime. 
Two objects with non-overlapping lifetimes may have the same id() value.

#### CPython implementation detail: This is the address of the object in memory.

In [9]:
b+=22 # shortcut operator to add to existing value of a variable b = b + 22
# += /= -= *=
print(b)

28

In [10]:
id(a),id(b),id(42),id(3),id(4),id(5),id(5000),id(5001),id(5002) # notice how ids are incremented!

(98144883579112,
 98144883579656,
 98144883580104,
 98144883578856,
 98144883578888,
 98144883578920,
 125483263442608,
 125483263442800,
 125483263441840)

### Floating Point

In [11]:
4/5 + 2/3 + 1/7

1.6095238095238096

In [12]:
0.1+0.2+0.3-0.6
# More on floating point https://docs.python.org/2/tutorial/floatingpoint.html

1.1102230246251565e-16