# Flow control, Booleans and Operators

George Boole - English mathematician, philosopher and logician, invented Boolean algebra  
https://en.wikipedia.org/wiki/George_Boole

## Comparison Operators

Comparison operators are used to compare two values. The operators include: >, <, >=, <=, ===, and !==.

In [3]:
type(5 > 7)

bool

In [4]:
8 == 18

False

In [5]:
8 == 18 - 10

True

In [6]:
2*2 == 4, 2*2 == 5

(True, False)

In [7]:
5 == '5' # these are not the same '5' is a string

False

In [9]:
5 == int('5') # values should be converted before comparison

True

In [10]:
str(5) == '5' # convert 5 to string before comparison

True

In [11]:
a = 2
b = 3
a < b

True

In [12]:
a < b, a > b

(True, False)

In [13]:
5 != 4

True

In [14]:
a * a == 4

True

In [16]:
2 < 3 < 4 # this is a chained comparison
# the same as 2 < 3 and 3 < 4

True

In [17]:
'VALDIS' < 'VOLDEMARS' # strings are compared lexicographically

True

![](https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/ASCII-Table-wide.svg/1200px-ASCII-Table-wide.svg.png?20221024154539)

In [18]:
len('VALDIS') < len('VOLDEMARS') # we can compare lengths of strings

True

In [19]:
# ord gets you the ASCII value of a character
ord('A'), ord('B'), ord('Z'), ord('a'), ord('z')

(65, 66, 90, 97, 122)

In [22]:
round(0.13987310981 + 0.223081092, 5) # rounding up to 5 decimal places

0.36295

In [24]:
a is b # this is identity comparison, checks if a and b are the same object
# do not use it, it is more useful for more complicated objects

False

In [26]:
bool(5) # most values are True because they are not 0 or empty

True

In [27]:
bool(0) # 0 is False
bool('') # empty string is False
bool(None) # None is False
bool(0.0) # 0.0 is False
bool(0j) # 0j is False

False

## Logical Operators

### Negation

In [28]:
not True, not False # logical negation, other languages use ! for negation

(False, True)

In [29]:
not 2*2 == 4 # not is applied to the whole expression
# the same as 2*2 != 4

False

### Logical Conjuction with AND
Combining two boolean expressions using 'and' operator.

In [30]:
True and True

True

In [31]:
True and False

False

In [32]:
False and False

False

In [33]:
5 > 4 and 2*2 == 4

True

In [34]:
True and True and 2*2 == 4 and 2*2 == 5 # one False makes the whole expression False

False

In [36]:
# lazy evaluation
# if first part of and is False then the whole expression is False
False and 2*2 == 5

False

### Logical Disjunction using OR
The 'or' operator returns True if at least one of the expressions is True.

In [37]:
True or False

True

In [38]:
False or False # only when all parts are False the whole expression is False

False

### IF statement

In [39]:
if 6 > 5: # we check the truthiness of the expression
    print("6 is greater than 5")

6 is greater than 5

#### Conditional execution

In [40]:
my_val = 10
if my_val > 5:
    print("my_val is greater than 5") # runs only if the condition is True
print("This will always run") # this is not part of the if block

my_val is greater than 5
This will always run

In [41]:
# nested if blocks

a = 4
if 2*2 == a:
    print("2*2 is equal to a")
    if (a > 3):
        print("a is greater than 3")

2*2 is equal to a
a is greater than 3

In [44]:
c = float(input("Enter temperature in Celsius: "))
f = c * 9/5 + 32
f = round(f, 2)
print(f"Temperature in Fahrenheit is {f}")
if f > 90:
    print("It is hot!")
    print("You should drink water")

Temperature in Fahrenheit is 212.0
It is hot!
You should drink water

### Branching with IF ELSE

In [45]:
a = -15
if a > 5:
    print("a is greater than 5")
else:
    print("a is less than or equal to 5")
print("This will always run")

a is less than or equal to 5
This will always run

### Multiple branches with IF ELIF and ELSE

In [46]:
x = int(input("Enter a number: "))
if x > 42:
    print("Too ambitious")
elif x < 42:
    print("Too modest")
else:
    print("Just right")
print("Your number was", x)

Too modest
Your number was 4

## Loops
* While
* For
* Do While

In [49]:
# most basic loop is while loop
# while loop will run until the condition is False
# while loop can run forever if the condition is always True

i = 0
#sum = 0 # bad name for a variable because sum is a built-in function, instead use sum1 or total
total = 0
while i < 10 and total < 30:
    print('i is', i)
    total += i # total = total + i
    print('total is', total)
    i += 1
print('Final total is', total)

i is 0
total is 0
i is 1
total is 1
i is 2
total is 3
i is 3
total is 6
i is 4
total is 10
i is 5
total is 15
i is 6
total is 21
i is 7
total is 28
i is 8
total is 36
Final total is 36

In [50]:
# for loop is used to iterate over a sequence
# sequence can be a list, tuple, string, range, etc.
# for loop will run until the sequence is exhausted
name = "Vizma" # string is a sequence of characters
for letter in name: # we loop over each character in the name
    print(letter)

V
i
z
m
a

In [ ]:
# if you have specific numbers, you can use range
for n in range (5):
    print(n)

0
1
2
3
4

In [56]:
# syntax for range is range(start, stop, step)
# start is inclusive, stop is exclusive
for n in range(5, 10, 2):
    print(n)

5
7
9

In [57]:
# negative step
# start should be greater than stop
for n in range(10, 5, -1):
    print(n)

10
9
8
7
6

In [58]:
# nested loops
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [59]:
# break statement can be used to exit the loop early
# break will exit the innermost loop
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4